.form-div{
    width: 700px;
    height: 50vh;
    margin: 50px auto;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    border-color: darkgrey;
}

.inner-form {
    width: fit-content;
    margin: auto;
    padding: 70px;
}

.btn-submit{
    margin: 30px auto;
}

.change-path-link {
    color: darkcyan;
    font-weight: bold;
}